NOVA_POSHTA_API_KEY=your_api_key
NOVA_POSHTA_SENDER_REF=sender_ref
NOVA_POSHTA_SENDER_CITY_REF=city_ref
NOVA_POSHTA_CONTACT_REF=contact_ref
NOVA_POSHTA_PHONE=380XXXXXXXXX
NOVA_POSHTA_WEBHOOK_SECRET=optional_webhook_secret
NOVA_POSHTA_CACHE_TTL_MS=900000
